{% extends 'base.html' %}

{% block content %}

<div class="add-item-container">
    <h2>Fülle die Informationen aus:</h2>

    <!-- Feedback-Nachricht, falls erfolgreich oder fehlerhaft -->
    {% if message %}
    <div class="message {% if message_type == 'success' %}success{% else %}error{% endif %}">
        {{ message }}
    </div>
    {% endif %}

    <form action="{{ url_for('add_item') }}" method="post" enctype="multipart/form-data">

        <label for="database_file">Database file</label>
        <input type="file" id="database_file" name="database_file" required>

        <button type="submit">Connect database</button>
    </form>
</div>
{% endblock %}
